/**
 * CSS for the WeLovez | Being Social plugin
 */
#welovez-wrapper{
    margin: 20px 0;
}
#welovez-wrapper a#welovez-button{
    color: #FFF;
    background: #b18787;
    border-radius: 5px;
    box-shadow: 0 5px 0 0 #091e57;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    display: inline-block;
}
#welovez-wrapper a#welovez-button img{
    box-shadow: none;
    width: 30px;
    padding-right: 10px;
    box-sizing: content-box;
    display: inline-block;
    position: relative;
    bottom: -10px;
}
.content-share__item {
    width: 48px;
    height: 48px;
    line-height: 0;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 20px;
    cursor: pointer;
}

.content-share, .content-share__icon, .content-share__item {
    position: relative;
    display: block;
}
.content-share__icon, .content-share__item {
    border-radius: 100%;
    background-clip: padding-box;
}
.welovez-share{
	background-color: #00968800!important;
    width: 48px;
    height: 48px;
    border: 0px;
    line-height: 0;
    margin-top: -8px;
    cursor: pointer;
    margin-left: -7px;
}

.content-share__item :hover {
	border-radius: 50%!important;
	box-shadow: 0px 0px 10px 0px #32373c!important;
}.content-share__item button:active, button:focus {
	border-color: #00968800!important;
	border-radius: 50%!important;
	box-shadow: 0px 0px 10px 0px #32373c!important;
}